header{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

h3{
  font-family:cursive;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #101010;
}

main {
  color: #fff;
}

.aside-map{
  text-align: left;
}

.list-group-item a{
  text-decoration: none;
  color: black;
}

.imagen-carrusel{
  width: 100%;
}

.carousel-item figcaption { 
  position: absolute; 
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #fff; 
  width: 100%;
  font-size: 1.5rem;
  padding: .5rem; 
}

.carousel-container{
  margin-left: 3%;
}

.principal-container-inicio{
  margin-left: 3%;
}

.enlace-footer{
  color: white;
  padding: 10px;
}

.instagram, .facebook{
  width: 60px;
  height: 33px;
  text-align: right;
}

.media-x{
  width: 40px;
}

